* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root{
    --primaria: #4c75b3;
    --secundaria:#9d9da8;
    --escuro: #303044;
    --maisEscuro: #0A0F19;
    --claro: #f7f7f0;
    --vidro: rgba(255, 255, 255, 0.1);

}

body {
    width: 100%;
    height: 100%;
    background-image: url(/imagens/fundo/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--claro);
}


.navegacao {
    position: fixed;
    background: rgba(10, 25, 63, 0.2);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    border-radius: 15px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu-link{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 500;
    position: relative;
    padding: 0.5 rem 0;
}

.menu-link::after{
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(100deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
}


/* ------------------------------------------------------------
---------------------------------------------------------------

            INICIO

---------------------------------------------------------------
------------------------------------------------------------ */


.corpo1{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
}



.cabecalho{
    flex-direction: column;
    
}

.grupo-primeira-info {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 100px;
}

.primeira-info{
     margin-top: 100px;
     margin-left: 50px;
     
}

.primeira-info-paragrafo{
    font-size: 22px;
    
}

.segunda-info{
    width: 100%;
    max-width: 75vh;
    margin-top: 10vh;
    font-size: 25px;
    display: flex;
    align-items: center;

}

.minha-foto{
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px rgba(3, 175, 243, 0.9);
    border-radius: 50px;
    border: 4px var(--vidro);
    
}


/* ------------------------------------------------------------
---------------------------------------------------------------

            SOBRE

---------------------------------------------------------------
------------------------------------------------------------ */


.sobre{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    flex-direction: column;
}

.sobre-titulo{
    padding-bottom: 20px;
}

.sobre-caixa{
    max-width: 70%;
    font-size: 2px;
    
}

.sobre-paragrafo{
    display: flex;
    justify-content: center;
    font-size: 20px;
}


/* ------------------------------------------------------------
---------------------------------------------------------------

            PROJETOS

---------------------------------------------------------------
------------------------------------------------------------ */


.projetos{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    flex-direction: column;
}

.projetos-caixa{
    display: flex;
    float: left;
    justify-content: flex-start;
}


.projeto-card-restaurante{
    width: 50vh;
    height: 75vh;
    padding: 16px;
    transition: 0.5s;
}

.projeto-card-restaurante:hover{
    transform: scale(1.02);
}

.imagem-restaurante{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(169, 166, 218, 0.3);
    border-radius: 50px;
    transition: all 0.5s ease;
}

.imagem-restaurante:hover{
    transform: scale(1.06);
}


/* ------------------------------------------------------------
---------------------------------------------------------------

            CONTATOS

---------------------------------------------------------------
------------------------------------------------------------ */


.contatos{
    padding: 6rem 2rem;
}

.contatos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato{
    max-width: 600px;
    margin: 0 auto;
    background-color: #2f2f4d;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form{
    width: 100%;
    padding: 1rem;
    background:  var(--secundaria);
    color: var(--claro);
    border: 1px solid var(--vidro);
    border-radius: 14px;
    outline: none;

}

.campo-form:focus{
    border-color: rgba(40, 24, 180, 0.9);
    box-shadow: 0 0 10px rgba(10, 25, 63, 0.2);
}

.grupo-form{
    margin-bottom: 1.5rem;
}

.botao-form{
    color: var(--claro);
    background: linear-gradient(45deg,var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover{
    transform: translateY(-4px);
    box-shadow: #4c75b3;
}